<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="bootstrap-3.3.7-dist/jquery/jquery-3.4.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/public.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid b-white m-20">
    <div class="row">
        <div class="col-md-9 " style="">
            <h2>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                发起
            </h2>
            <hr>
            <form onsubmit="return fromSubmit(this);">
                <div class="form-group">
                    <label for="exampleInputEmail1">问题标题</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="发布问题。。。">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">问题补充</label>
                    <textarea class="form-control" id="exampleInputPassword1" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">添加标签</label>
                    <input type="text" class="form-control" id="exampleInputFile" name="tag" placeholder="标签，已，分隔">
                </div>

                <button type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
        <div class="col-md-3 b-white" >
            <h4>问题发起指南</h4>
            · 问题清新：不得超过25个字。<br/>
            · 问题补充：详细补充你的问题。<br/>
            · 选择标签：选择一个或多个标签，用"，"隔开。每个标签不能超过10个字。<br/>
        </div>
    </div>
</div>
</body>
<script>
    function fromSubmit(t){
        var title = $(t).find("input[name='title']").val();
        var description = $(t).find("textarea[name='description']").val();
        var tag = $(t).find("input[name='tag']").val();
        if (!title){
            alert("标题不能为空！");
            return false;
        }
        // if (!description){
        //     alert("详情不能为空！");
        //     return false;
        // }
        // if (!tag){
        //     alert("标签不能为空！");
        //     return false;
        // }
        $.ajax({
            url:"/publish",
            type: "post",
            data:{
                title: title,
                description: description,
                tag: tag
            },
            success: function(response){
                console.log(response);
                alert(response.msg);

            },
            error: function(e){
                console.log(e);
            },
            dataType:"json"
        });
        return false;
    }
</script>
</html>